[submodule "project_options"]
    path = out/build/_deps/_project_options-src
    url = dummy_string_to_satisfy_vscode
[submodule "Catch2"]
    path = out/build/_deps/catch2-src
    url = dummy_string_to_satisfy_vscode
[submodule "docopt"]
    path = out/build/_deps/docopt-src
    url = dummy_string_to_satisfy_vscode
[submodule "fmt"]
    path = out/build/_deps/fmt-src
    url = dummy_string_to_satisfy_vscode
[submodule "glew"]
    path = out/build/_deps/glew-src
    url = dummy_string_to_satisfy_vscode
[submodule "ImGui_SW"]
    path = out/build/_deps/imgui_sw-src
    url = dummy_string_to_satisfy_vscode
[submodule "ImGui"]
    path = out/build/_deps/imgui-src
    url = dummy_string_to_satisfy_vscode
[submodule "SDL2"]
    path = out/build/_deps/sdl2-src
    url = dummy_string_to_satisfy_vscode
[submodule "spdlog"]
    path = out/build/_deps/spdlog-src
    url = dummy_string_to_satisfy_vscode
[submodule "glm"]
    path = out/build/_deps/glm-src
    url = dummy_string_to_satisfy_vscode
[submodule "stb"]
    path = out/build/_deps/stb-src
    url = dummy_string_to_satisfy_vscode
[submodule "tracy"]
    path = out/build/_deps/tracy-src
    url = dummy_string_to_satisfy_vscode
[submodule "cr"]
    path = out/build/_deps/cr-src
    url = dummy_string_to_satisfy_vscode
[submodule "lunasvg"]
    path = out/build/_deps/lunasvg-src
    url = dummy_string_to_satisfy_vscode
[submodule "fonticons"]
    path = out/build/_deps/fonticons-src
    url = dummy_string_to_satisfy_vscode